@import '_variables';

/**
 * ----------------------------------------
 * animation pulse
 * ----------------------------------------
 */

@keyframes animation_pulse {
	0% {
		transform: scale3d(1.5, 1.5, 1.5);
	}

	50% {
		transform: scale3d(1, 1, 1);
	}

	100% {
		transform: scale3d(1.5, 1.5, 1.5);
	}
}

/**
 * ----------------------------------------
 * animation vibrate
 * ----------------------------------------
 */

@keyframes animation_vibrate {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-2px, 2px);
	}
	40% {
		transform: translate(-2px, -2px);
	}
	60% {
		transform: translate(2px, 2px);
	}
	80% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

/** ----------------------------------------
 * animation spin
 * ----------------------------------------
 */

@keyframes animation_spin {
	0% {
		transform: rotate(0deg);
		box-shadow: -1.5px 1.5px 1.5px $link_color_2,
			inset 1.5px -1.5px 1.5px $link_color_2;
		border: $link_color_2;
	}

	33% {
		transform: rotate(120deg);
		box-shadow: -1.5px 1.5px 6px $link_color_1,
			inset 1.5px -1.5px 5px $link_color_1;
		border: $link_color_1;
	}

	66% {
		transform: rotate(240deg);
		box-shadow: -1.5px 1.5px 1.5px $link_color_1,
			inset 1.5px -1.5px 1.5px $link_color_1;
		border: $link_color_1;
	}
	100% {
		transform: rotate(360deg);
		box-shadow: -1.5px 1.5px 1.5px $link_color_2,
			inset 1.5px -1.5px 1.5px $link_color_2;
		border: $link_color_2;
	}
}

/** ----------------------------------------
 * animation fade out - bottom
 * ----------------------------------------
 */

@keyframes animation_fade-out-bottom {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(50px);
		opacity: 0;
	}
}

/** ----------------------------------------
 * animation swing out - top back
 * ----------------------------------------
 */

@keyframes animation_swing-out-top-bck {
	0% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
	100% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
}

/** ----------------------------------------
 * animation fade out - back
 * ----------------------------------------
 */

@keyframes animation_fade-out-bck {
	0% {
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		transform: translateZ(-80px);
		opacity: 0;
	}
}

/** ----------------------------------------
 * animation slide in blured - bottom left
 * ----------------------------------------
 */

@keyframes animation_slide-in-blurred-bl {
	0% {
		transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
		transform-origin: 100% 100%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0) skew(0deg, 0deg);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

/** ----------------------------------------
 * animation slide out blured - bottom left
 * ----------------------------------------
 */

@keyframes animation_slide-out-blurred-bl {
	0% {
		transform: translate(0, 0) skew(0deg, 0deg);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
	100% {
		transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
		transform-origin: 100% 100%;
		filter: blur(40px);
		opacity: 0;
	}
}


/** ----------------------------------------
 * animation slide in blured - bottom right
 * ----------------------------------------
 */

 @keyframes animation_slide-in-blurred-br {
	0% {
		transform: translate(1000px, 1000px) skew(80deg, 10deg);
		transform-origin: 100% 100%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0) skew(0deg, 0deg);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

/** ----------------------------------------
 * animation slide out blured - bottom right
 * ----------------------------------------
 */

@keyframes animation_slide-out-blurred-br {
	0% {
		transform: translate(0, 0) skew(0deg, 0deg);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
	100% {
		transform: translate(1000px, 1000px) skew(80deg, 10deg);
		transform-origin: 100% 100%;
		filter: blur(40px);
		opacity: 0;
	}
}
